.search {
    max-width: 75%;
    margin: 40px auto;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0.5px solid gray;
    padding: 20px;
    margin-top: 35px;
    background-color: gainsboro;
    height: 70px;
}

.search-form  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid gray;
    font-size: 16px;
    width: 20vw;
}

form label {
    color: rgb(21.15% 25.5% 32.47%);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.products-cont {
    max-width: 75%;
    margin: 40px auto;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    min-height: auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid black;
}

.product-img img {
    background-color: #f3f3f3;;
    width: 100%;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    display: block;
    overflow: hidden;
    flex: 1 1 250px;
}


.product-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: 500;
    color: black;
    font-style: normal;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: rgb(21.15% 25.5% 32.47%);
}

.product-card .btn {
    padding: 15px;
    width: 100%;
    font-size: 16px;
    border: none;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}