{% extends "base.html" %}
{% block style %}

.main{
min-width: 100%;
background-color: aquamarine;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.img{
height: 550px;
width: 100%;
object-fit: cover;
background-color: black;
}

.msg{
margin-left: 10px;
padding: 10px 15px;
background-color: #007bff;
text-decoration: none;
color: white;
border-radius: 5px;
}

.msg:hover{
text-decoration: none;
color: white;
background-color: #0056b3;
}

.contact-section{
position: absolute;
top: 45vh;
left: 30%;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
width: 40vw;
margin-bottom: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.links{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 20px;
}

{% endblock style %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<main class='main' style="background-color: blanchedalmond;">
    <div class='container-fluid p-0'>
        <img class='img' src="/static/img/contact.jpg" class="d-block w-100 my-4" alt="Icecream Image">
    </div>
    <div class='contact-section'>
        <h2 class="text-center my-4">Contact Us to create your own website</h2>
        <div class='links'>
            <a class='msg' type="button" target="_blank"
                href='https://www.facebook.com/profile.php?id=61556077648270'>Send message on facebook</a>
            <a class='msg' type="button" target="_blank" href='https://www.linkedin.com/in/hamza-amir-024502320/'>Send
                message LinkedIn</a>
        </div>
    </div>
    <div class="my-4" style="min-width: 70vw;">

        <form method="post" action="/contact/">
            {% csrf_token %}
            <div class="mb-3 form-group">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter your name"></input>
        </div>
        <div class="mb-3 form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3 form-group">
            <label for="number" class="form-label">Phone number</label>
            <input type="tel" name="number" class="form-control" id="number" placeholder="Enter your phone number">
        </div>
        <div class="mb-3 form-group">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" name="message" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>
</main>
{% endblock body %}