{% extends "base.html" %}

{% block title %}Cartify - Your All in one Store{% endblock title %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'products/home.css' %}">
{% endblock extra_head %}

{% block body %}
<section class='search'>
    <h1>All Products</h1>
    <div class="search-box">
        <form class="search-form" action="get">
            <label for='search-input'>Search Products</label>
            <input type="text" id='search-input' name='search' placeholder='Search'>
        </form>
    </div>
</section>
<section class='products-cont'>
    
    <div class="product-card">
        <div class="product-img">
            <span>Image placeholder</span>
        </div>
        <div class="product-detail">
            <span class='product-title'>Product One</span>
            <span class='product-price'>$29.99</span>
            <button class='btn'>View Product</button>
        </div>
    </div>
</section>
{% endblock body %}