{% extends "base.html" %}

{% block title  %}{{product.name}}{% endblock title  %}
{% load static %}
{% block extra_head  %}
<link rel="stylesheet" href="{% static "products/productdetail.css" %}">
{% endblock extra_head  %}

{% block body  %}
<div class="detail-page">
    <div class="container">
        <div class="product-detail">
            <div class="img">
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            <div class="details">
                <h2>{{product.name}}</h2>
                <p class='price'>${{product.price}}</p>
                {% if product.stock <= 0 %}
                <p class='out-stock'>Out of Stock</p>
                {% elif product.stock > 0 %}
                <p class='in-stock'>In Stock</p>
                {% endif %}
                <p class='seller'>Seller: <span>{{product.seller.username}}</span></p>
            </div>
            <div class='description'>
                <h2>Description</h2>
                <p>{{product.description}}</p>
            </div>
        </div>
        <div class="sidebar"></div>
    </div>
</div>
{% endblock body  %}