.login-page {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 60%;
}

.header {
    font-size: 32px;
    /* margin-bottom: 20px; */
    color: #333;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tagline {
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
}

form h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
}

.form-group {
    gap: 5px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 10px;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    padding: 10px;
    background-color: rgb(36, 95, 173);
    border: none;
    color: white;
    font-size: medium;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}

.signup-link {
    margin-top: 15px;
    text-align: center;
}