.container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container h2 {
    text-align: center;
    font-size: xx-large;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.tagline {
    font-size: x-large;
    color: black;
    margin-top: -40px;
    font-weight: 700;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.form-group input {
    padding: 10px;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    padding: 10px;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    background-color: cyan;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}