{% extends "base.html" %}
{% load static %}

{% block cssFiles %}
<link rel="stylesheet" href="{% static 'users/loginPage.css' %}">
{% endblock cssFiles %}

{% block body %}
<h1>Login Page</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" required>
    </div>
    <div>
        <label for="password">Enter your Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{% endblock body %}