.seller-dashboard {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 20vw;
    border: 1px solid gray;
    height: 100vh;
    border-bottom: 0px;
}

.main-dashboard {
    padding: 50px 20px;
}