*{
    padding: 0;
    font-family: sans-serif;
    margin: 0;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    padding: 20px;
    border: 1px solid gray;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px;
    /* border-radius: 15px; */
    border: 2px solid black;
    padding-inline: 20px;
    padding-block: 15px;
    cursor: pointer;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 36px;
}